In [116]:
# Credit Card Approval
import pandas as pd
cc_apps = pd.read_csv('/content/crx.csv',header=None)
cc_apps.tail()

# actual (['b',30.83,0,'u','g','w','v',1.25,'t','t',1,'f','g'])
# modified as 11 and 13 are dropped (['b',30.83,0,'u','g','w','v',1.25,'t','t',1,'g',0])

    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

In [117]:
cc_apps_description = cc_apps.describe()
print(cc_apps_description)
print("\n")

cc_apps_info = cc_apps.info()
# print(cc_apps_info)
# print("\n")

cc_apps.tail(17)

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

    0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  ?  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680  b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

In [118]:
import numpy as np
print(cc_apps.isnull().values.sum())
cc_apps = cc_apps.replace('?', np.nan)
print("Total nan: " +str(cc_apps.isnull().values.sum()))
print("Nan by column: " "\n")
print(cc_apps.isnull().sum())
cc_apps.tail(17)

0
Total nan: 67
Nan by column:

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

      0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  NaN  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674    a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675    a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676    a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677    b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678    a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679    a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680    b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681    b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682    b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683    b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684    b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685    b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686    a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687    a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688    b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689    b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

In [119]:
cc_apps.mean(numeric_only=True)
cc_apps.fillna(cc_apps.mean(), inplace=True)
print("Total nan: " +str(cc_apps.isnull().values.sum()))
cc_apps.isnull().sum()

Total nan: 67

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [120]:
for col in cc_apps:
    if cc_apps[col].dtypes == 'object':
        cc_apps= cc_apps.fillna(cc_apps[col].value_counts().index[0])
print('total missing values:' +str(cc_apps.isnull().values.sum()))
print('missing values in each column:')
cc_apps.isnull().sum()

total missing values:0
missing values in each column:

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [121]:
from sklearn.preprocessing import LabelEncoder
l= LabelEncoder()
for col in cc_apps:
    if cc_apps[col].dtypes == 'object':
        l.fit(cc_apps[col])
        cc_apps[col]=l.transform(cc_apps[col])
cc_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    int64
 1   1       690 non-null    int64
 2   2       690 non-null    float64
 3   3       690 non-null    int64
 4   4       690 non-null    int64
 5   5       690 non-null    int64
 6   6       690 non-null    int64
 7   7       690 non-null    float64
 8   8       690 non-null    int64
 9   9       690 non-null    int64
 10  10      690 non-null    int64
 11  11      690 non-null    int64
 12  12      690 non-null    int64
 13  13      690 non-null    int64
 14  14      690 non-null    int64
 15  15      690 non-null    int64
dtypes: float64(2), int64(14)
memory usage: 86.4 KB

In [122]:
from sklearn.model_selection import train_test_split
cc_apps= cc_apps.drop([11,13],axis=1)
cc_apps_values = cc_apps.values
X,y = cc_apps_values[:,0:13], cc_apps_values[:,13]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33,random_state=42)
cc_apps.head()

   0    1      2   3   4   5   6     7   8   9   10  12   14  15
0   1  156  0.000   2   1  13   8  1.25   1   1   1   0    0   0
1   0  328  4.460   2   1  11   4  3.04   1   1   6   0  560   0
2   0   89  0.500   2   1  11   4  1.50   1   0   0   0  824   0
3   1  125  1.540   2   1  13   8  3.75   1   1   5   0    3   0
4   1   43  5.625   2   1  13   8  1.71   1   0   0   2    0   0

In [123]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
rescaledx_train = scaler.fit_transform(X_train)
rescaledx_test = scaler.fit_transform(X_test)

In [124]:
#import logisticRegression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(rescaledx_train, y_train)

LogisticRegression()

In [125]:
from sklearn.metrics import confusion_matrix
y_pred = logreg.predict(rescaledx_test)
print("accuracy of the logistic regression classifier: ", logreg.score(rescaledx_test, y_test))
print("confution matrix : \n", confusion_matrix(y_test,y_pred))

accuracy of the logistic regression classifier:  0.8377192982456141
confution matrix :
 [[92 11]
 [26 99]]

In [126]:
import numpy as np

input_data=np.array(['b',30.83,0,'u','g','w','v',1.25,'t','t',1,'g',0])
input_data = l.fit_transform(input_data)
print(input_data)
input_data_reshaped = input_data.reshape(1,-1)
prediction = logreg.predict(input_data_reshaped)

print(prediction)

if(prediction[0]==0.0):
    print('Credit Card accepted')
else:
    print('Credit Card is not accepted')

[4 3 0 7 5 9 8 2 6 6 1 5 0]
[0.]
Credit Card accepted

#saving model

In [127]:
import pickle
#saving logreg model
pickle.dump(logreg,open('final_model.sav','wb'))

#using saved model for prediction

In [130]:
load_model = pickle.load(open("final_model.sav",'rb'))

input_data=np.array(['b',	35.00	,3.375	,'u','g',	'c','h',	8.29,	'f',	'f',	0,'g',0])
input_data = l.fit_transform(input_data)

input_data_reshaped = input_data.reshape(1,-1)

result = load_model.predict(input_data_reshaped)
if(result[0]==0.0):
    print('Credit Card accepted')
else:
    print('Credit Card is not accepted')

Credit Card accepted